/*
        Elements properties definition
*/

html, body {
	background-color: #0066CC;
	width: 100%;
    height: 100%;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
	font-family: fantasy;
	font: sans-serif;
	color: orange;
	left: 50%;
	top: 5%;
	text-align: center;
	position: absolute;
	transform: translate(-50%, 0%);
}

img {
	position: absolute;
}

/*
        Classes properties definition
*/

.carousel-container {
	position: absolute;
	top: 25%;
	left: 50%;
	transform: translate(-50%, 0%);
	width: 100%;
	height: 300px;
	margin: 0px auto;
}

.img-container {
	position: absolute;
	left: 50%;
	transform: translate(-37.5%, 0%);
	width: 1200px;
	height: 300px;
}

.image {
	border-radius: 10px;
}

.hider {
	position: absolute;
	background-color: #0066CC;
	height: 300px;
}

.button {
	position: absolute;
	cursor: pointer;
	top: 50%;
	transform: translate(0%, -50%);
	height: 85%;
	width: 150px;
	font-size: 150px;
	font-weight: 800;
	font: sans-serif;
	border: 1px solid #000000;
	border-radius: 10px;
	background-color: #888888;
	box-shadow: 5px 5px 0px #000000;
}

/*
        IDs properties definition
*/

#l-hider {
	left: 0;
	width: 618px;
}

#r-hider {
	right: 0;
	width: 618px;
}

#l-arrow {
	left: 25%;
}

#l-arrow:hover {
	background-color: orange;
	transition: 0.3s;
}

#l-arrow:active {
	left: 25.3%;
	top: 51%;
	background-color: orange;
	box-shadow: 0 0 #666;
	opacity: 0.5;
}

#r-arrow {
	right: 25%;
}

#r-arrow:hover {
	background-color: orange;
	transition: 0.3s;
}

#r-arrow:active {
	right: 24.7%;
	top: 51%;
	background-color: orange;
	box-shadow: 0 0 #666;
	opacity: 0.5;
}


#image4 {
	left: 0px;
}

#image1 {
	left: 300px;
}

#image2 {
	left: 600px;
}

#image3 {
	left: 900px;
}